@import "../../../styles/variables";

.rating-block {
  font-size: $font-size;
  line-height: $line-height;
  color: $second-color;
  margin-bottom: 5px;
  display: inline-block;

  .stars {

    &.has-rating {
      padding: 0 10px;
    }

    .star {
      background-image: url("/assets/images/star-inactive.svg");
      background-position: 0 0;
      width: 14px;
      height: 14px;
      display: inline-block;

      &.active {
        background-image: url("/assets/images/star-active.svg");
      }

      &.half {
        background-image: url("/assets/images/star-half.svg");
      }
    }
  }

  .leave-review-link {
    font-size: 12px;
    color: $link-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
