.offer-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;

  .offer {
    margin: 0 15px;
    width: calc(33.33% - 30px);
    padding-bottom: 100px;
    position: relative;

    .bottom {
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
    }
  }
}

.offer {
  border-size: 1px;
  border-radius: 4px;
  color: white;
  padding: 10px;

  &.basic {
    background: rgba(0, 177, 106, 0.8);
    border-color: rgba(0, 177, 106, 1);
  }

  &.premium {
    background: rgba(68, 108, 179, 0.8);
    border-color: rgba(68, 108, 179, 1);
  }

  &.premium_plus {
    background: rgba(230, 126, 34, 0.8);
    border-color: rgba(230, 126, 34, 1);
  }
}
