<section class="add-owner-form" [formGroup]="ownerForm">
  <section class="row">
    <section class="col-sm-12 col-md-6">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName">
      <p class="error"
         *ngIf="ownerForm.get('firstName')?.touched && ownerForm.get('firstName')?.invalid">
        {{'form.required' | translate}}
      </p>
    </section>
    <section class="col-sm-12 col-md-6">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName">
      <p class="error"
         *ngIf="ownerForm.get('lastName')?.touched && ownerForm.get('lastName')?.invalid">
        {{'form.required' | translate}}
      </p>
    </section>
  </section>
</section>
