<ng-template #content>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <section class="top-block">
      <h2>{{'reset_password.title' | translate}}</h2>
    </section>
    <section class="form" [formGroup]="resetForm" *ngIf="!isResetError && !isResetSuccess">
      <section class="form-group">
        <input class="form-control" type="email" placeholder="{{'reset_password.email' | translate}}"
               formControlName="email">
        <p class="error" *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.invalid">
          <span *ngIf="resetForm.get('email')?.errors.required">
            {{'form.required' | translate}}
          </span>
          <span *ngIf="resetForm.get('email')?.errors.email">
            {{'form.email' | translate}}
          </span>
        </p>
      </section>
      <button class="btn btn-primary" [disabled]="sendingRequest" *ngIf="!isResetSuccess && !isResetError"
              (click)="onResetPassword()">{{'reset_password.reset' | translate}}</button>
    </section>
    <section class="alert alert-success" *ngIf="isResetSuccess">
      <p>{{'reset_password.success' | translate}}</p>
    </section>
    <section class="alert alert-danger" *ngIf="isResetError">
      <p>{{'reset_password.error' | translate}}</p>
    </section>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">{{'global.close' | translate}}</button>
  </div>
</ng-template>
