<section class="business-card" [class.highlight]="business?.restrictions?.is_highlighted" [class.no-hover]="!onHover"
         (click)="onTileClick($event)" [class.hover]="isHover"
         (mouseenter)="onMouseEnter()"
         (mouseleave)="onMouseLeave()">
  <section class="image-bloc">
    <img [src]="business.icon" *ngIf="business.icon && business.icon !=''" alt="image">
  </section>
  <section class="content-bloc">
    <h4>{{business.businessName}}</h4>
    <app-claim-request [business]="business"></app-claim-request>
    <section class="rating action">
      <app-rating [businessId]="business._id" [rating]="business.rating" [reviewCount]="business.reviewsCount"></app-rating>
    </section>
    <p class="address">{{business.address}}</p>
    <p class="address">{{business.zipCode}}, {{business.city}} {{business.country}}</p>
    <p class="open-time" *ngIf="business.workTime && business.workTime.end && business?.restrictions?.opening_hours">
      {{'global.open_until' | translate}}
      {{business.workTime.end.h}}:{{(business.workTime.end.m < 10) ? '0' + business.workTime.end.m : business.workTime.end.m}}
    </p>
  </section>
  <section class="direction-bloc text-right">
    <app-phone [business]="business" *ngIf="business?.restrictions?.contact_information"></app-phone>
    <a *ngIf="business.email && business?.restrictions?.contact_information" title="{{'global.send_email' | translate}}"
       class="action-link action"
       href="mailto:{{business.email}}">
      <span class="action-icon"><i class="fas fa-envelope"></i></span>
    </a>
    <section class="action-button action">
      <app-get-direction-button
        [showIcon]="true"
        [endPoint]="endCoordinates"
        [business]="business"
        *ngIf="showDirection && business?.restrictions?.get_directions">
      </app-get-direction-button>
    </section>
    <button class="action-link action btn-link btn"
            *ngIf="business?.restrictions?.full_profile_page"
            (click)="onProfileNavigate()"
            title="{{'global.profile' | translate}}">
      <span class="action-icon"><i class="fas fa-eye"></i></span>
    </button>
  </section>
</section>
